<div>
  <h2>Create an activity</h2>
  <div>
    <label>Title:
      <input [(ngModel)]="activityData.title" required/>
    </label><br>
    <label>Description:
      <input [(ngModel)]="activityData.description"/>
    </label><br>
    <label> Start Time:
      <input [(ngModel)]="activityData.StartTime" type="time" required/>
    </label><br>
    <label>End Time:
      <input [(ngModel)]="activityData.EndTime" type="time"/>
    </label><br>
    <label>Location:
      <input [(ngModel)]="activityData.location"/>
    </label><br>
  </div>
  <button (click)="addActivity()">Save</button>
</div>
